.dashboard-tabs-container {
    margin-left: 80px;
    width: 100%;
    background-color: rgb(38, 38, 38);
    height: 30px;
    display: flex;
    .btn {
        color: white;
        background-color: rgb(38, 38, 38);
        border: 0;
        outline: none;
        cursor: pointer;
    }
    .primary {
        background-color: #1a1a1a;
    }
    .add-btn{
        color: #2A6E96;
    }
}
